*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    margin-left: 52px;
    margin-bottom:44px;

}
.navbari{
    display: flex;
}
.content{
    display: flex;
}
.logo{
    color: #30CBC2;
    font-weight: 700;
    font-size: 40px;
    margin-right: 60px;
    margin-top:15px;
}
.nav2{
    margin-top: 25px;
    font-weight: 700;
    font-size: 30px;
}
.navbari a:hover{
    color: #4E6FAE;
    transition: 0.3s;
}
.navbari a{
    color: #8D81FF;
    text-decoration: none;
    margin-right: 80px;
}
.didi{
    margin-top: 97px;
    margin-left: 193px;
    margin-right: 193px;
}
.didi img{
width: 100%;
}
.sami{
    display: flex;
}
.xazi{
    height: 48px;
    width: 1.9px;
    border: 1px solid #5012D5;
    /* background: #5012D5; */
    margin-left: 35px;
    margin-right: 35px;
}
.siaxleebi{
    display: flex;
    margin-top: 120px;
    margin-left: 193px;
}
.siaxleebi p{
    color: #4E6FAE;
    font-weight: 700;
    font-size: 26px;
}
.siaxleebi h3{
    color: #4E6FAE;
    font-weight: 400;
    font-size: 26px;
  
}
.ori{
    display: flex;
    margin-top:26px;
}
.search{
    display: flex;
}
.pirveli , .meore{
    background: #E7E7E7;
}
.pirveli{
    margin-left: 194px;
    margin-right: 50px;
}
.meore{
    margin-right: 194px;
    margin-left: 50px;
}
.pirveli h4{
    margin-top: 21px;
    margin-left: 29px;
    font-size: 24px;
}
.search{
    margin-top: 21px;
    margin-left: 29px;
    margin-bottom: 37px;
}

.meore h4{
    margin-top: 21px;
    margin-left: 29px;
    font-size:24px;
}
.search img{
    margin-right: 31px;

}
.textebi{
    margin-right: 27px;
}
.textebi p{
    color:#7E8898;
    font-size: 20px;

}
.sami{
    margin-left: 194px;
    margin-top: 93px;
}
